:root{
  --green_455942: #455942;
  --green_7F9E7A: #7F9E7A;
  --green_81A65D: #81A65D;
  --green_CFD9C7: #CFD9C7;
  --beige: #F2EDE4;
  --white: #ffffff;
  --gray: #414141;
  --brown: #594431;
  --black: #1B1C26;
  --pink: #BF7E6F;

  --font_family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --font-size-xl: 40px;
  --font-size-l: 30px;
  --font-size-m: 25px;
  --font-size-s: 14px;
  --font-size-xs: 10px;
  --transition: 0.5s ease;
  --banner-height: 700px;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--gray);
  font-family: var(--font_family);
}

.NavWeb{
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: var(--transition);
}

.NavwebUl{
  display: flex;
  gap: 2rem;
}

.ImgNav{
  height: 3rem;
}

.LinkNav{
  font-family: var(--font_family);
  font-size: var(--font-size-m); 
  color: var(--white);
  list-style: none;
  text-decoration: underline var(--white);
  transition: var(--transition);
}

.NavWeb:has(.LinkNav:hover) .LinkNav:not(:hover){
  text-decoration: none;
  transition: var(--transition);
}

.Home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dvtk6ky3t/image/upload/v1776433439/copy_of_gemini_generated_fondo_inicio_ocnus8_e540bb.png");
}

.Us{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dvtk6ky3t/image/upload/v1776535359/Gemini_Generated_Fondo_AboutUs_m1zbg9.png");
}

.BannerHome{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: var(--banner-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextImage{
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.TextImage h2{
  font-weight: 100;
  font-size: var(--font-size-l);
}

.TextImage p{
  font-weight: 50;
  font-size: var(--font-size-s);
}

.CarruselText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: "#fff";
  border: "1px solid #e5e5e5";
  padding: "2.5rem 2rem";
  min-height: 140px;
  text-align: "center";
  position: "relative";
  overflow: "hidden";
}

.CarruselText p{
  text-align: center;
  color: var(--white);
  line-height: 1.4;
  margin: 0;
}

.CarruselText h2{
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  line-height: 1.4;
  margin: 0;
}

.dots{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: var(--transition) 0.3s;
}

.Fotos-Example img{
  max-width: 250px;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green_7F9E7A);
  padding: 1rem;
}

footer img{
  max-width: 80px;
}